//
//  Responsive Classes
// ::::::::::::::::::::::::::::::::::::
.pagebuilder-column {
	box-sizing: border-box;
}

//
//  Mobile
// ::::::::::::::::::::::::::::::::::::

@include max-screen($screen__m - 1) {
	.pagebuilder-column {
		background-attachment: scroll !important; // stylelint-disable-line declaration-no-important
		flex-basis: 100%;
	}
}
