// Vendor libs

@import "../vendor/normalize/lib"; // Normalize.css

@import "../vendor/magento-ui/lib"; // Magento UI

// Theme variables

@import "../variables";

// Magento/blank
.page-print {
	.logo {
		display: block;
		float: none;
		text-align: left;
	}
}

@media print {
	* {
		// stylelint-disable declaration-no-important
		background: transparent !important;
		// TODO: change this hex color to global var
		color: #000000 !important; // stylelint-disable-line color-no-hex
		-webkit-filter: none !important; // Use in 41 Chrome
		filter: none !important;
		text-shadow: none !important;
		// stylelint-enable declaration-no-important
	}

	// Black prints faster:h5bp.com/s
	a,
	a:visited {
		text-decoration: underline !important; // stylelint-disable-line declaration-no-important
	}

	// Don't show links for images, or javascript/internal links
	pre,
	blockquote {
		border: 1px solid $color-gray60;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
	}

	.table-wrapper table {
		table-layout: fixed;
		width: 100%;

		td {
			width: auto;
		}

		& > tfoot > tr:first-child {
			border-top: 1px solid $color-gray60;
		}
	}

	.box,
	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important; // stylelint-disable-line declaration-no-important
	}
	@page {
		margin: 1cm;
	}

	.block-content,
	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	.block-content {
		page-break-before: avoid;
	}

	.block-title,
	h2,
	h3 {
		page-break-after: avoid;
	}

	.nav-toggle {
		display: none !important; // stylelint-disable-line declaration-no-important
	}

	.sidebar,
	.nav-sections,
	.header.content > *[class],
	.panel.wrapper > *[class],
	.footer.content > *[class] {
		display: none;
	}

	.logo,
	.footer .copyright {
		display: block !important; // stylelint-disable-line declaration-no-important
		margin: 10px 0;
	}

	.order-details-items {
		.order-items {
			.order-gift-message {
				&:not(.expanded-content) {
					height: auto;
					visibility: visible;
				}
			}
		}
	}

	.column.main {
		float: none !important; // stylelint-disable-line declaration-no-important
		width: 100% !important; // stylelint-disable-line declaration-no-important
	}

	.breadcrumbs {
		margin: 0 auto;
		text-align: right;
	}

	.footer.content {
		padding: 0;
	}
}
