.magnify-lens {
	background: rgba(255, 255, 255, .5);
	border: solid 1px $color-gray-light2;
	color: $color-white;
	left: 0;
	position: absolute;
	text-align: center;
	top: 0;
	z-index: $z-index-10;
}

.magnify-opaque {
	opacity: .5;
}

.magnify-hidden {
	display: none;
}

.magnify-fullimage {
	display: none;

	// TODO from which css file is this?
	.fotorama__fullscreen & {
		display: inline-block;
	}
}
