.fotorama__video-close {
	@extend .fotorama-no-select;
	@extend .fotorama-no-tap;
	@extend .fotorama-sprite;

	background-position: (-$fotorama_close_button) 0;
	cursor: pointer;
	height: $fotorama_close_button;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	transform: translate3d(($fotorama_close_button), (-$fotorama_close_button), 0);
	transition: opacity .3s ease-in-out;
	width: $fotorama_close_button;
	z-index: $z-index-10;

	.fotorama__fullscreen & {
		display: none;
	}

	.fotorama__wrap--toggle-arrows:not(.fotorama__wrap--video) & {
		display: none;
	}

	.fotorama__wrap--toggle-arrows.fotorama__wrap--video & {
		opacity: 1;
		right: 93px;
		top: 97px;
	}

	.fotorama__wrap--css3 &:not(:focus) {
		transition-duration: $fotorama-duration-time;
		transition-property: transform, opacity, background-color;
	}
	@media all and (max-width: 768px) {
		background-position: -100px -20px;
		height: 40px;
		top: 10px;
		width: 40px;
	}
}
