.fotorama__zoom-in,
.fotorama__zoom-out {
	display: none;
	z-index: $z-index-10;
	&:focus {
		@extend .fotorama-focus;

		box-shadow: none;
		&:after {
			border-radius: inherit;
			bottom: $fotorama-inner-box-shadow;
			box-shadow: $focus__box-shadow;
			content: "";
			left: $fotorama-inner-box-shadow;
			position: absolute;
			right: $fotorama-inner-box-shadow;
			top: $fotorama-inner-box-shadow;
			z-index: $z-index-10;
		}
	}

	.fotorama__wrap:not(.fotorama__wrap--toggle-arrows) & {
		@include fotorama-button-background();
	}

	.fotorama__fullscreen & {
		@extend .fotorama-sprite;

		cursor: pointer;
		display: block;
		height: $size-fotorama-block;
		overflow: hidden;
		position: absolute;
		width: $size-fotorama-block;
		&--disabled {
			display: none;
		}
	}
}

.fotorama__fullscreen {
	.fotorama__zoom-out {
		background-position: 0 (-$size-fotorama-block) !important; // stylelint-disable-line declaration-no-important
		top: 80px;
	}

	.fotorama__zoom-in {
		background-position: 0 0 !important; // stylelint-disable-line declaration-no-important
		top: 0;
	}
}
