.fotorama__stage {
	max-width: 100%;
	overflow: hidden;
	position: relative;

	.fotorama__wrap--css3 & {
		@extend .fotorama-gpu;
	}

	.fotorama__wrap--video & {
		@extend .fotorama-transform-disabled;
	}

	&:before,
	&:after {
		@extend .fotorama-gpu;

		background-repeat: no-repeat;
		content: "";
		display: block;
		pointer-events: none;
		position: absolute;
		text-decoration: none;
		z-index: 10;
	}

	&:before {
		left: -10px;
		top: -10px;
	}

	&:after {
		bottom: -10px;
		right: -10px;
	}

	.fotorama--fullscreen &,
	.fotorama__wrap--no-shadows &,
	.fotorama__wrap--fade & {
		&:before,
		&:after {
			display: none;
		}
	}

	.fotorama__wrap--only-active & {
		max-width: 99999px !important; // stylelint-disable-line declaration-no-important
	}
}
