.fotorama__thumb-border {
	@extend .fotorama-print-background;

	backface-visibility: hidden;
	background-image: linear-gradient(to bottom right, rgba(255, 255, 255, .25), rgba(64, 64, 64, .1));
	border: 1px solid $color-orange-red1;
	box-sizing: border-box;
	left: 0;
	position: absolute;
	top: 0;
	z-index: 9;

	.fotorama__nav--dots & {
		display: none;
	}

	.fotorama__wrap--css3 & {
		@extend .fotorama-transition-for-slide;
	}
}
