.fotorama__wrap {
	@extend .fotorama-no-select;

	direction: ltr;
	position: relative;
	text-size-adjust: 100%;
	z-index: 0;

	.fotorama--fullscreen & {
		max-width: 100% !important; // stylelint-disable-line declaration-no-important
	}

	&--pan-y {
		touch-action: pan-y;
	}
}
