//
// Footer
// ::::::::::::::::::::::::::::::::::::

.page-footer {
	@include lib-css(background-color, $footer__background-color);

	margin-top: auto;
}

.footer {
	&.content {
		border-top: 1px solid $border-color__base;
		margin-top: 25px;
		padding-bottom: 25px;
		padding-top: 25px;

		ul {
			@extend .abs-reset-list;
		}

		.links {
			> li {
				margin: 0 0 8px;
			}

			@include min-screen($screen_desktop) {
				display: inline-block;
				margin-bottom: 20px;
				padding: 0 50px 0 0;
				vertical-align: top;
			}
		}

		.switcher-store {
			margin: 0 0 30px;

			@include min-screen($screen_desktop) {
				display: inline-block;
				padding-right: 50px;
				vertical-align: top;
			}
		}
		@include min-screen($screen_desktop) {
			.block {
				float: right;
			}
		}
	}

	.copyright,
	.bugs {
		display: block;
		margin: 20px 0 0;
	}

	@include min-screen($screen_desktop) {
		.copyright {
			@extend .abs-add-clearfix-desktop;
		}
	}
}
