//
// Header-Logo
// ::::::::::::::::::::::::::::::::::::

.logo {
	display: block;
	margin: 0 auto $indent__s;
	max-width: 30rem;
	position: relative;
	z-index: 5;

	@include min-screen($screen_desktop) {
		margin: -8px auto 25px;

		img {
			max-height: inherit;
		}
	}

	// YG-TEMP
	// .page-print & {
	// 	float: none;
	// }
}
